__pycache__/
_cache/
.DS_Store
__pycache__/generation.cpython-311.pyc
__pycache__/plotting.cpython-311.pyc
__pycache__/tools.cpython-311.pyc
*.png
*.hkl
__pycache__/objects.cpython-311.pyc
**/__pycache__/
script.py
nbody_meshes/
hkl/
fast_bug_test.ipynb
testing.ipynb